<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Emprestimo"
        tools:targetApi="31">
        <activity
            android:name=".EditarEmprestimoActivity"
            android:exported="false" />
        <activity
            android:name=".GraficoActivity"
            android:exported="false" />
        <activity
            android:name=".Visualizar_emprestimos"
            android:exported="false" />
        <activity
            android:name=".Emprestimo"
            android:exported="false" />
        <activity
            android:name=".Usuario_logado"
            android:exported="false"
            android:label="@string/title_activity_usuario_logado"
            android:theme="@style/Theme.Emprestimo.NoActionBar" />
        <activity
            android:name=".Recuperar_senha"
            android:exported="false" />
        <activity
            android:name=".Cadastro"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".Abertura"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>